<h1> <%= @team_name %> </h1>

<h1> <%= @team_motto %> </h1>

<%@team_members.each_with_index do |hero, index|%>
  <%=@hero_name[index]%> 
  <%=@hero_power[index]%> 
  <%=@hero_bio[index]%> 
  <%end%> 
  