<h1> <%= @team_name %> </h1>

<h1> Team Motto: <%= @team_motto %> </h1>

<%@team_members.each_with_index do |hero, index|%>
  <p> Hero Name: <%=@hero_name[index]%></p><br>
  <p>Hero Power: <%=@hero_power[index]%></p><br>
  <p>Hero Bio: <%=@hero_bio[index]%></p><br>
  <%end%>
