<h1> <%= @team_name %> </h1>

<h1> <%= @team_motto %> </h1>

<h2> <%= @hero_name %> </h2>
<h3> <%= @hero_power %><br>
     <%= @hero_bio %><br>
</h3>

<h2> <%= hero name %> </h2>
<h3> <%= hero power %><br>
     <%= hero bio %><br>
</h3>

<h2> <%= hero name %> </h2>
<h3> <%= hero power %><br>
     <%= hero bio %><br>
</h3>
