<h1> <%= team name %> </h1>

<h1> <%= team motto %> </h1>

<h2> <%= hero name %> </h2>
<h3> <%= hero power %><br>
     <%= hero bio %><br>
</h3>

<h2> <%= hero name %> </h2>
<h3> <%= hero power %><br>
     <%= hero bio %><br>
</h3>

<h2> <%= hero name %> </h2>
<h3> <%= hero power %><br>
     <%= hero bio %><br>
</h3> 
