<h1> <%= @team_name %> </h1>

<h1> <%= @team_motto %> </h1>

<h2> <%= @hero1_name %> </h2>
<h3> <%= @hero1_power %><br>
     <%= @hero1_bio %><br>
</h3>

<h2> <%= @hero2_name  %> </h2>
<h3> <%= @hero2_power %><br>
     <%= @hero2_bio%><br>
</h3>

<h2> <%= @hero3_name  %> </h2>
<h3> <%= @hero3_power %><br>
     <%= @hero3_bio%><br>
</h3>
